header {
    width: 100%;
    color: white;
    background-color : black;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;


}



ul, li {
    list-style: none;
    margin: 0;
    padding:0;
}
nav .explore {
    float:left;
    flex-basis: 110px;
    align-items: center;
    justify-content: space-between;
    
}

nav button {

    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-weight: 700;
    font-size: large;
    width: 100%;

} 

.explore .dropdown-content{

    left: 0;
}

.news-multi-live .dropdown-content{

    min-width: 250px;
    right: 0;
}



.dropdown-content{

    display: none;
    background-color: black;
    width: auto ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    padding: 1rem;
    z-index: 1;
    text-decoration: none;
    list-style: none;
}

.dropdown-content .arrow{

    margin-left: 10px;
}


.dropdown-content a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.dropdown-content li:hover, .dropdown-menu-explore li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;

}
.show{
    display: flex;
    flex-direction: column;
}

.explore .show{
    flex-direction: row;
    margin: auto;
}

#dropdownExplore{
    width: 100%;

}
.dropdown-content .dropdown-menu-explore{
    margin-right: 50px;
    width: 25%;
    flex: 0 1 auto;
    border-right: 1px solid gray;

}

.dropdown-content .dropdown-img-explore{

    display: flex;
    width: 75%;
    flex-direction: column;

}

.dropdown-img-list{
    display: flex;
    justify-content: space-between;
    padding-right: 3.5rem;
}

.img-list{
    padding: 0 1rem 0 0;
}


.dropdown-img-list img{
    height: 20rem;
    max-width: 100%;
    object-fit: cover;
}

.article-type-date{
    display: flex;
    align-items: center;
    
}
.bookmark{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.bookmark-logo{
    padding: 2px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-right: 5px;
}
.dropdown-img-explore h4 {

    color: gray;
}

.dropdown-img-explore .article-type-date .heading-12{
    color: gray;
}
.heading-12{
    font-size: 12px;
}
.heading-16{
    font-size: 16px;
}
.dropdown-menu-explore a{

    color: white   ;
    list-style: none;
    display: block;
    padding: 12px 5px;
    text-decoration: none;
    font-weight: 300;

}

.dropdown-content .dropdown-menu-explore ul li{

    display: list-item;
    font-weight: 200;
}




.news-multi-live .dropdown-list{
    position: relative;
}
.news-multi-live .Logo-live{
    display: inline;
    border-color:#f64137;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 8px;
}

nav .news-multi-live ul li{

  
    display: inline-block;
    list-style: none;
    font-weight: 800;
    margin : 10px 0px;

}

nav .search{

    flex-basis: 200px;
    margin-left: 30px;
}

nav .search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 50,
  'GRAD' -25,
  'opsz' 10;

  color: white;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 20
}

nav .logo{

    flex-grow: 1;

}
nav .logo img{
    height: 60px;
    width: 60px;
    margin-left: 50%;
}

nav input{

    justify-items: center;
    color: white;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;

}