header {
    width: 100%;
    color: white;
    background-color : black;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 2%;
    justify-content: center;


}

nav .explore {
    float:left;
    flex-basis: 110px;
    align-items: center;
    justify-content: space-between;
    
}

.explore button {

    cursor: pointer;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-weight: 700;
    font-size: large;
    width: 100%;

} 

.explore-dropdown{

    display: none;
    background-color: black;
    width: auto ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    text-decoration: none;
}

.show{
    display: flex;
}

.explore-dropdown .dropdown-menu{
    margin-right: 200px;
}
.explore-dropdown .dropdown-menu a{


    color: white   ;
    text-decoration: none;
    display: block;
    padding: 12px 5px;

}

.explore-dropdown .dropdown-menu ul li{

    display: list-item;
    font-weight: 200;
}

.explore-dropdown .dropdown-img{

    display: flex;
    flex-direction: column;

}

.dropdown-img .dropdown-img-list{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

nav ul li{

    display: inline-block;
    list-style: none;
    font-weight: 800;
    margin : 10px 20px;

}

nav .search{

    flex-basis: 200px;
    margin-left: 30px;
}

nav .search .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 50,
  'GRAD' -25,
  'opsz' 10;

  color: white;

}

nav .logo{

    flex-grow: 1;

}
nav .logo img{
    height: 60px;
    width: 60px;
    margin-left: 50%;
}

nav input{

    justify-items: center;
    color: white;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;

}